body {
    background-color: whitesmoke;
}
.jumbotron {
    font-family: 'Heebo', serif;
    color:white;
    background: url(/assets/covidUS.jpg) center;
    background-size: cover;
    height: 30vh;
    line-height: 250px;
    text-align: center;
}

h1 {
    font-family: 'Heebo', serif;
}

.display-4 {
    font-size: 9vh;
}

.todaysData {
    font-family: 'Heebo', serif;
    color: white;
    height: 15vh;
    line-height: 100px;
    background-color: rgb(154, 155, 207);
    margin: 0;
}

#dailyData {
    font-family: 'Heebo', serif;
    padding: 50px;
}

.container {
    width: 100%;
}
.container-fluid {
    width: 100%;
    border: black;
    border-style: groove;
    font-size: 3vh;
}

.todaysState{
    font-family: 'Heebo', serif;
    color: white;
    height: 15vh;
    line-height: 100px;
    background-color: rgb(154, 155, 207);
}

#byState {
    font-family: 'Heebo', serif;
    padding: 50px;
}

.text-center {
    font-family: 'Heebo', serif;
}

@media only screen and (max-width:768px){
    .jumbotron {
        text-align: center;
       height: 200%;
   }
   .container-fluid {
       height: 200%;
   }
   .todaysData {
       height: 200%;
   }
   .todaysState {
       height: 200%;
   }
   .row {
       height: 200%;
       width: 30%;
   }

   .text-center-link {
       font-size: 90%;
   }

 }




 